<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Chat App</title>
</head>
<body>
    <div class="content">
        <div>
            <p> Join Room </p>
            <form id="loginForm" method="POST" action="/room">
                <input type="text" placeholder="Enter Room ID" id="roomname" name="roomname" required>
                <input type="submit" value="Join Room" id="joinRoom">
            </form>
        </div>
    </div>
</body>
</html>