<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Chat APP</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    </head>

    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: rgb(231, 216, 228);
            font-family: 'Lato', sans-serif;
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
            margin-top: 15px;
        }

        input {
            width: 100%;
            height: 40px;
            text-indent: 10px;
        }

        button {
            width: 100%;
            height: 50px;
            background-color: #1a2eda;
            color: white;
            font-size: larger;
            font-weight: bold;
            outline: none;
            cursor: pointer;
            border: none;
        }

        .fields {
            width: 100%;
        }

        .window {
            margin: auto;
            margin-top: 20px;
            height: 500px;
            border: 2px solid #c2c6b6;
            display: flex;
            flex-direction: column;
            align-content: space-between;
            background-color: white;
        }

        #output, #feedback {
            margin-left: 10px;
        }

        .chat-message {
            display: block;
            width: 100%;
            height: 100%;
            overflow: auto;
        }


        .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-x: hidden;
            transition: 0.5s;
        }

        .online {
            font-size: x-large;
            position: relative;
            top: 10%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .overlay a:hover, .overlay a:focus {
            color: #f1f1f1;
        }

        .overlay .closebtn {
            position: absolute;
            top: 20px;
            right: 45px;
            font-size: 60px;
        }

        @media screen and (max-height: 450px) {
            .overlay a {font-size: 20px}
            .overlay .closebtn {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }

        .online p {
            color: white;
        }

        #message {
            width: 99%;
        }

        #container {
            margin: 1rem;
        }

        .online .users {
            font-size: medium;
        }

    </style>
    <body>

        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="online">
                <p class="users-online">User Online</p>
                <div class="users"></div>
            </div>
        </div>

        <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

        <div id="container">
            <h1 class="room-message"></h1>
            <div class="window">
                <div class="chat-message">
                    <div id="output"></div>
                    <div id="feedback"></div>
                </div>
            </div>
            <div class="fields">
                <input type="text" id="message" placeholder="Enter message">
                <button id="send">Send</button>
            </div>
        </div>
        <script src="/chat.js"></script>
        <script>
            function openNav() {
            document.getElementById("myNav").style.width = "30%";
            }

            function closeNav() {
            document.getElementById("myNav").style.width = "0%";
            }
        </script>
    </body>
</html>
