<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat-App</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" type="image/x-icon" href="assets/favicon.png">
    </head>

    <body>
        <div class="main">
            <h1>Welcome! to my <u>Chat-App</u></h1>
            <h3><i>We allow real-time communcation</i></h3>
            <div>
                <button onclick="location.href='/register'">SignUp</button>
                <button onclick="location.href='/login'">LogIn</button>
            </div>
        </div>
    </body>
</html>