<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Rooms | Chat-App</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.png">
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <style>
        button {
            margin: 15px;
        }
    </style>

    <body>
        <div class="main">
            <h1>Chat-Room</h1>
            <form action="/room" method="POST">
                <label> Room Name: </label>
                <input type="text" id="roomname" name="roomname" placeholder="Enter Room-ID" required>

                <div class="wrap">
                    <button type="submit" id="create"> Create Room </button>
                    <button type="submit" id="join"> Join Room </button>
                </div>
            </form>
        </div>
    </body>
</html>