<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Register | Chat-App</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.png">
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="main">
            <h1> Register </h1>
            <h3> Enter your credentials </h3>
            <form>

                <label for="first"> Username: </label>
                <input type="text" id="username" name="first" placeholder="Enter your Username" required>

                <label for="first"> Email: </label>
                <input type="email" id="email" name="email" placeholder="Enter your Email" required>

                <label for="password"> Password: </label>
                <input type="password" id="password" name="password" placeholder="Enter your Password" required>

                <div class="wrap">
                    <button type="submit">
                        Submit
                    </button>
                </div>

            </form>
            <p>Already registered? 
                <a href="/login" style="text-decoration: none;">
                    Login
                </a>
            </p>
        </div>

        <script>
            const form = document.querySelector('form');
            const username = document.querySelector('#username');
            const email = document.querySelector('#email');
            const password = document.querySelector('#password');
            const display = document.querySelector('.error');
            
            form.addEventListener('submit', async (e) => {
                e.preventDefault()
                try {
                    const res = await fetch('/signup', {
                        method: "POST",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            username: username.value,
                            email: email.value,
                            password: password.value,
                        })
                    })
                    
                    if(res.status === 400 || res.status === 401) {
                        alert(`Error ${res.status}:  Password is too short`)
                    } else if(res.status === 403) {
                        alert("User already exist");
                    } else location.href = '/index'
                } catch (err) {
                    console.log(err)
                }
            })

        </script>
    </body>
</html>